<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- //[ Aufgabe 7.1 Configure the DispatcherServlet -->
	<servlet>
		<servlet-name>webapp</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- //[ Aufgabe 99.1  Crrently out of scope -->
		<!-- <init-param>
			<param-name>contextInitializerClasses</param-name>
			<param-value>app.server.config.CloudApplicationContextInitializer</param-value>
		</init-param> -->
		<!-- Enable the mysql profile 
		<init-param>
        	<param-name>spring.profiles.active</param-name>
        	<param-value>mysql</param-value>
    	</init-param> -->
    	<!-- //] Aufgabe 99.1 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- //] Aufgabe 7.1 -->

	<servlet-mapping>
		<servlet-name>webapp</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>